[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/caravansary83 (caravansary83)
	read = group demo-CI-tester
[access "refs/for/refs/*"]
	read = group user/caravansary83 (caravansary83)
	push = group user/caravansary83 (caravansary83)
	label-Code-Review = -2..+2 group user/caravansary83 (caravansary83)
	label-Verified = -1..+1 group user/caravansary83 (caravansary83)
	rebase = group user/caravansary83 (caravansary83)
	removeReviewer = group user/caravansary83 (caravansary83)
	submit = group user/caravansary83 (caravansary83)
[access "refs/heads/*"]
	read = group user/caravansary83 (caravansary83)
	create = group user/caravansary83 (caravansary83)
	push = +force group user/caravansary83 (caravansary83)
	pushMerge = group user/caravansary83 (caravansary83)
	label-Code-Review = -1..+1 group demo-CI-tester
	label-Verified = -1..+1 group demo-CI-tester
[access "refs/tags/*"]
	push = group user/caravansary83 (caravansary83)
	push = +force group user/caravansary83 (caravansary83)
